{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": ["test-utils/**/*.js", "webpack.*.js"]
            }
        ],
        "prettier/prettier": ["error"],
        "object-shorthand": ["warn", "consistent"],
        "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
        "func-names": ["off"],
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "jasmine": true,
        "es6": true
    },
    "globals": {
        "angular": "readonly",
        "d3": "readonly"
    }
}
